<!-- Header block -->
<header class="header">
  <div class="header__container">

    <!-- Left column: Logo -->
    <div class="header__logo">
      <img src="/assets/logo.svg" alt="Shuffle Store logo">
    </div>

    <!-- Center column: Payment methods -->
    <div class="header__payments">
      <span class="header__payments-label">We Accept</span>
      <ul class="header__payments-list">
        <li class="header__payments-item"><img src="/assets/icons/btc.svg" alt="BTC"></li>
        <li class="header__payments-item"><img src="/assets/icons/eth.svg" alt="ETH"></li>
        <li class="header__payments-item"><img src="/assets/icons/usdt.svg" alt="USDT"></li>
        <li class="header__payments-item"><img src="/assets/icons/bnb.svg" alt="BNB"></li>
        <li class="header__payments-item"><img src="/assets/icons/ada.svg" alt="ADA"></li>
      </ul>
    </div>

    <!-- Right column: Links and cart -->
    <div class="header__nav">
      <a href="#products" class="header__link">All Products</a>
      <a href="#collections" class="header__link">Collections</a>
      <button class="header__cart-btn">
        <img src="/assets/icons/cart.svg" alt="Cart">
      </button>
    </div>

  </div>
</header>
