/*!****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/icons-cusmton/style.scss ***!
  \****************************************************************************************************************************/
/* start icon cusmicer */
.fa-ltc {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url(../../assets/64e3a3742c57257be404.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: middle;
  font-size: inherit;
}

.fa-dai {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url(../../assets/03f29e0a34390fd30e6c.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: middle;
  font-size: inherit;
}

.fa-usdc {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url(../../assets/91d6430345df5bcd96fa.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: middle;
  font-size: inherit;
}

/* end icon cusmicer */
